$main-bg-color: #f8f8ff;
$black-1: #646681;
$primaryPurple: #646ff0;
$black-2: #585858;
$bg-1: #f8f8ff;
$bg-2: #ecedf6;
$bg-3: #cccdde;
$bg-4: #ebe3ec;
$gray-1: #eee;
$gray-2: #dedfe1;
$gray-3: rgb(134, 134, 134);